# Exemplo de configuração do banco de dados local via Docker

# Utiliza senha e usuário padrão definidos em "docker-compose.yml"

# Renomeie o arquivo para ".env" ou crie uma cópia com este nome.

DATABASE_URL="postgresql://admin:adminpassword@localhost:5432/ativos_ti"